Flask==2.4.0
psycopg2-binary==2.9.6
SQLAlchemy==2.0.18
Flask-SQLAlchemy==3.1.0
python-dotenv==1.0.0
Flask-Migrate==4.0.0
Flask-RESTful==0.3.9
pytest-cov==4.0.0
pytest-sugar==0.9.7
pytest==7.4.0
flask_bcrypt==1.0.1
PyJWT==2.8.0
celery==5.3.0
Redis==4.7.0
flask-cors==4.1.2
Flask-Seeder==0.5.0
torch==2.0.1
opencv-python-headless==4.7.0.72
pillow==10.0.0
huggingface_hub==0.14.1
torchvision==0.15.2
